USE [master]
GO
/****** Object:  Database [CourseProject]    Script Date: 06.04.2026 18:42:52 ******/
CREATE DATABASE [CourseProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CourseProject', FILENAME = N'F:\SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CourseProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CourseProject_log', FILENAME = N'F:\SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CourseProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CourseProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CourseProject]
GO
/****** Object:  User [alexm]    Script Date: 06.04.2026 18:42:53 ******/
CREATE USER [alexm] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[budget_periods]    Script Date: 06.04.2026 18:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[budget_periods](
	[period_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[planned_budget] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[period_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 06.04.2026 18:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[name] [nvarchar](100) NOT NULL,
	[is_income] [bit] NOT NULL,
	[parent_id] [int] NULL,
 CONSTRAINT [PK__categori__D54EE9B49100D6E6] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[savings_goals]    Script Date: 06.04.2026 18:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[savings_goals](
	[goal_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[target_amount] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[goal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[savings_transfers]    Script Date: 06.04.2026 18:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[savings_transfers](
	[transfer_id] [int] IDENTITY(1,1) NOT NULL,
	[goal_id] [int] NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[transfer_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transfer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 06.04.2026 18:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[transaction_date] [date] NOT NULL,
	[is_income] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 06.04.2026 18:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_login] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[budget_periods] ON 

INSERT [dbo].[budget_periods] ([period_id], [user_id], [start_date], [end_date], [planned_budget]) VALUES (1, 21, CAST(N'2026-01-01' AS Date), CAST(N'2026-01-31' AS Date), CAST(50000.00 AS Decimal(12, 2)))
INSERT [dbo].[budget_periods] ([period_id], [user_id], [start_date], [end_date], [planned_budget]) VALUES (2, 22, CAST(N'2026-02-01' AS Date), CAST(N'2026-02-28' AS Date), CAST(70000.00 AS Decimal(12, 2)))
INSERT [dbo].[budget_periods] ([period_id], [user_id], [start_date], [end_date], [planned_budget]) VALUES (3, 23, CAST(N'2026-03-01' AS Date), CAST(N'2026-03-31' AS Date), CAST(120000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[budget_periods] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [user_id], [name], [is_income], [parent_id]) VALUES (1, NULL, N'Еда и напитки', 0, NULL)
INSERT [dbo].[categories] ([category_id], [user_id], [name], [is_income], [parent_id]) VALUES (2, NULL, N'Шоппинг', 0, NULL)
INSERT [dbo].[categories] ([category_id], [user_id], [name], [is_income], [parent_id]) VALUES (3, NULL, N'Жилье', 0, NULL)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[savings_goals] ON 

INSERT [dbo].[savings_goals] ([goal_id], [user_id], [name], [target_amount]) VALUES (21, 21, N'Отпуск в Японии
', CAST(200000.00 AS Decimal(12, 2)))
INSERT [dbo].[savings_goals] ([goal_id], [user_id], [name], [target_amount]) VALUES (23, 22, N'Новый ноутбук
', CAST(100000.00 AS Decimal(12, 2)))
INSERT [dbo].[savings_goals] ([goal_id], [user_id], [name], [target_amount]) VALUES (24, 23, N'Подарок на ДР
', CAST(30000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[savings_goals] OFF
GO
SET IDENTITY_INSERT [dbo].[transactions] ON 

INSERT [dbo].[transactions] ([transaction_id], [user_id], [category_id], [amount], [transaction_date], [is_income]) VALUES (1, 21, 53, CAST(-1000.00 AS Decimal(12, 2)), CAST(N'2026-01-01' AS Date), 0)
INSERT [dbo].[transactions] ([transaction_id], [user_id], [category_id], [amount], [transaction_date], [is_income]) VALUES (2, 21, 51, CAST(-500.00 AS Decimal(12, 2)), CAST(N'2026-01-02' AS Date), 0)
INSERT [dbo].[transactions] ([transaction_id], [user_id], [category_id], [amount], [transaction_date], [is_income]) VALUES (3, 21, 24, CAST(-1200.00 AS Decimal(12, 2)), CAST(N'2026-01-03' AS Date), 0)
SET IDENTITY_INSERT [dbo].[transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [user_login], [password_hash]) VALUES (21, N'alice_smith', N'X8$mnpQwEr2!')
INSERT [dbo].[users] ([user_id], [user_login], [password_hash]) VALUES (22, N'bob_johnson', N'Kp9#vRtY7$sE')
INSERT [dbo].[users] ([user_id], [user_login], [password_hash]) VALUES (23, N'charlie_brown', N'M3%nHyUjK!pX')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__9EA1B5AF97BFA8E2]    Script Date: 06.04.2026 18:42:53 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[user_login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[budget_periods]  WITH CHECK ADD  CONSTRAINT [FK_budget_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[budget_periods] CHECK CONSTRAINT [FK_budget_user]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [FK_categories_parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [FK_categories_parent]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [FK_categories_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [FK_categories_user]
GO
ALTER TABLE [dbo].[savings_goals]  WITH CHECK ADD  CONSTRAINT [FK_goals_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[savings_goals] CHECK CONSTRAINT [FK_goals_user]
GO
ALTER TABLE [dbo].[savings_transfers]  WITH CHECK ADD  CONSTRAINT [FK_transfers_goal] FOREIGN KEY([goal_id])
REFERENCES [dbo].[savings_goals] ([goal_id])
GO
ALTER TABLE [dbo].[savings_transfers] CHECK CONSTRAINT [FK_transfers_goal]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_category]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_user]
GO
USE [master]
GO
